<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        scope的作用域。
        默认是单例模式，即scope="singleton"
        另外scope还有prototype、request、session、global session作用域。
    -->
    <bean id="beanScope" class="com.imooc.bean.BeanScope" scope="singleton"></bean>

</beans>
